*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif, monospace;
}



nav{
    text-align: right;
    margin-bottom: 1rem;
}

.lobby_btn{
    text-align: center;
    margin-bottom: 2rem;
}

.container{
    display: flex;
    justify-content: center;
}

.login_page, .signup_page, .lobby_screen, .public_lobby_screen, .private_lobby_screen{
    position: absolute;

    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.login_page *, .signup_page *{
    display: block;
    top: 50%;

}

.hide{
    display: none;
}



.lobby_screen *{
    margin-top: .5rem;

}

.scroll-box{
    margin: 1rem;
    background-color: gray;
}



.public_lobby_screen > ul, .private_lobby_screen > ul {
    margin-top: 1rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    list-style-type: none;

}