:root {
  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, monospace;
  background: #e6e9ff;
}

nav {
  text-align: right;
  margin-bottom: 1rem;
}

.lobby_btn {
  text-align: center;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  justify-content: center;
}

.login_page,
.signup_page,
.lobby_screen,
.public_lobby_screen,
.private_lobby_screen {
  position: absolute;

  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.login_page *,
.signup_page * {
  display: block;
  top: 50%;
}

.hide {
  visibility: hidden;
}

.lobby_screen * {
  margin-top: 0.5rem;
}

.scroll-box {
  margin: 1rem;
  background-color: gray;
}

.public_lobby_screen > ul,
.private_lobby_screen > ul {
  margin-top: 1rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  list-style-type: none;
}

.hover:hover {
  color: gray;
  font-weight: bold;
}

/*ChatBox*/
.btn {
  cursor: pointer;
  padding: 5px 15px;
  background: var(--light-color);
  color: var(--dark-color-a);
  border: 0;
  font-size: 17px;
}

/* Chat Page */

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden;
}

.game-container {
  margin: 1rem;
  padding: 2rem 2rem;
}
.game {
  display: inline-block;
  vertical-align: middle;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr;
}

.chat-messages {
  padding: 30px;
  max-height: 450px;
  min-height: 450px;
  max-width: 400px;
  min-width: 400px;
  word-wrap: break-word;
  overflow-y: scroll;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: #777;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}
